/* TODO: consider creating <Button> and <GradientText> components */
a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-secondary;
  @apply focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-transparent;
}

.from-queen-brown {
  --tw-gradient-from: #ab8b57 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(120 53 15 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.gradient-text {
  @apply bg-clip-text text-transparent;
  @apply bg-gradient-to-br from-queen-brown via-pink-200 to-gray-300;
}

* {
  font-family: 'Dancing Script';
}

.letter-pocket {
  width: 80%;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(190, 161, 113, 0.5);
  position: relative;
}

.letter-pocket::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-style: solid;
  border-width: 1.5rem;
  border-color: #e5e1d8 #e5e1d8 rgba(190, 161, 113, 0.5) rgba(190, 161, 113, 0.5);
  transition: all 3s;
}

.letter-pocket:hover::after {
  border-width: 3rem;
}