@font-face {
  font-family: "IranNastaliq";
  src:
    url("IranNastaliq.woff2") format("woff2"),
    url("IranNastaliq.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "IranNastaliq";
  letter-spacing: normal !important;
  font-weight: 100 !important;
}
