---
import { Icon } from "astro-icon/components";


---

<div class="rounded fixed bottom-0 left-0 size-20 bg-white z-10">
    <button>
        <Icon name="mdi:pause"></Icon>
    </button>
</div>

<script>
  const clip = new Audio('/queen.m4a');
  clip.load()
  clip.onload = () => clip.play()
  clip.loop = true
  clip.autoplay = true
</script>