---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";

export interface Props {
  lang?: string;
}

const { lang } = Astro.props;
---

<ContentSection id="baran">
  {
    lang === "fa" ? (
      <Fragment slot="lead">
        یکشنبه ۲۷ خرداد از ساعت ۱۸:۳۰ عمارت باران
        <br />
        <br />
        گرمدره، خیابان سعادتیه، کوچه تیر، پلاک ۲۲
      </Fragment>
    ) : (
      <Fragment slot="lead">
        Hope to see you on Khordad 27th st 6:30 p.m. at Baran mansion garden
      </Fragment>
    )
  }
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://maps.app.goo.gl/tPnYeA5QyvA9LYhEA"
      class="flex items-center justify-center gap-3 px-6 py-4"
    >
      <Icon name="logos:google-maps" class="size-12" />
    </a>
    <a
      href="https://nshn.ir/32_bvZnM5x5OAH"
      class="flex items-center justify-center gap-3 px-6 py-4"
    >
      <Icon name="neshan" class="size-12" />
    </a>
  </div>
  <iframe
    class="border-4 border-primary"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.355555313541!2d51.07962767712217!3d35.742064672567736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8dec16562faf13%3A0xb269091e86076da0!2sBaran%20Garden%20Hall!5e0!3m2!1sen!2sat!4v1714895716360!5m2!1sen!2sat"
    height="450"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</ContentSection>
