---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection id="baran">
  <Fragment slot="lead">
    Hope to see you on Khordad 27th st 6:30 p.m. at Baran mansion garden
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://maps.app.goo.gl/tPnYeA5QyvA9LYhEA"
      class="flex items-center justify-center gap-3 px-6 py-4"
    >
      <Icon name="logos:google-maps" class="size-12" />
    </a>
    <a
      href="https://nshn.ir/32_bvZnM5x5OAH"
      class="flex items-center justify-center gap-3 px-6 py-4"
    >
      <Icon name="neshan" class="size-12" />
    </a>
  </div>
</ContentSection>
