---
export interface Props {
  id: string;
}

const { id } = Astro.props;
---

<section
  id={id}
  class="flex scroll-mt-24 flex-col items-center gap-2 space-y-8"
>
  <div class="flex flex-col items-center gap-4">
    <slot name="eyebrow" />
  </div>
  <slot name="pre-content" />
  <div class="w-full text-center font-extrabold text-2xl">
    <slot name="lead" />
  </div>
  <slot />
</section>
