---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection id="engaged">
  <Fragment slot="pre-content">
    <p class="letter-pocket text-3xl">
      <br />
      <br />
      &nbsp; We've planned the most special day of our life and we'd be thrilled
      to see you in our ceremony where we want to celebrate love<br />
      <br />
      Best, <br />
      Elahe & Parham
    </p>
  </Fragment>
</ContentSection>
