---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection id="engaged">
  <Fragment slot="pre-content">
    <div class="letter-pocket text-3xl">
      <br />
      <p class="text-right">&nbsp; به سنت عشق گرد هم می‌آییم</p>
      <br />
      <br />
      <p class="text-left">&nbsp; آنجا که دوست داشتن تنها کلام زندگی است</p>
      <br />
      <br />
    </div>
  </Fragment>
</ContentSection>
