---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import { type Guest } from "~/types";

export interface Props {
  guest: Guest;
}

const { guest } = Astro.props;
---

<ContentSection id="guest">
  <Fragment slot="pre-content">
    <p class="letter-pocket text-3xl">
      Dear {guest.name},<br />
      <br />
      &nbsp; We've planned the most special day of our life and we'd be thrilled to see
      you in our ceremony where we want to celebrate love<br />
      <br />
      Best, <br />
      Elahe & Parham
    </p>
  </Fragment>
  <Fragment slot="lead">
    <h2
      class="gradient-text text-center font-extrabold tracking-tight text-8xl"
    >
      RSVP
    </h2>
    <h6 class="text-base text-secondary" style="padding-left: 10%;">please kindly reply by Khordad 5th</h6>
    <fieldset class="flex w-5/6 flex-row mx-auto my-5">
      <div class="basis-1/2 text-center">
        <input
          type="radio"
          id="coming"
          name="coming"
          value="true"
          checked={guest.answer?.coming === true}
          disabled={guest.answer != null}
        />
        <label for="coming"></label>Accept with pleasure</label>
        <br />
        <input
          type="radio"
          value="false"
          name="coming"
          id="not-coming"
          checked={guest.answer?.coming === false}
          disabled={guest.answer != null}
        />
        <label for="not-coming"
          >Decline with regret</label
        >
      </div>

      <div class="basis-1/2 text-center">
        <input
          type="checkbox"
          id="plus_one"
          name="plus_one"
          checked={guest.answer?.plus_one === true}
          disabled={guest.answer != null}
        />
        <label for="plus_one">Plus 1 adult</label>
      </div>
    </fieldset>
    <button
      data-id={guest.id}
      id="submit"
      disabled={guest.answer != null}
      class="text-center w-1/2"
    >
      {guest.answer == null ? "Respond to invitation" : "Already responded"}
      {
        guest.answer == null ? (
          <Icon name="mdi:love-letter-open" class="size-12 inline" />
        ) : (
          <Icon name="mdi:love-letter" class="size-12 inline" />
        )
      }
    </button>
  </Fragment>
</ContentSection>

<script>
  const submitBtn = document.getElementById("submit");
  if (submitBtn != null) {
    const id = submitBtn.getAttribute("data-id");

    const submit = () => {
      const comingChk = document.getElementById("coming") as HTMLInputElement;
      const plusOneChk = document.getElementById(
        "plus_one"
      ) as HTMLInputElement;

      fetch(`/api/guest/${id}/answer`, {
        method: "POST",
        body: JSON.stringify({
          coming: comingChk.checked,
          plus_one: plusOneChk.checked,
        }),
        headers: {
          "Content-Type": "application/json",
        },
      }).then(() => window.location.reload())
    };

    submitBtn.onclick = submit;
  }
</script>
