---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Going to get marreid" id="intro">
  <Icon name="wpf:wedding-cake" class="size-24 md:size-32"/>
  <Fragment slot="lead">
    <span class="text-primary">Elahe</span>
    and
    <span class="text-primary">Parham</span>
    will be celebrating on <span class="text-secondary">27 Khordad 1403
    (16 Jun 2024)</span> at the <span class="text-secondary">Baran Garden Hall</span>
    🎉🌸
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://maps.app.goo.gl/tPnYeA5QyvA9LYhEA"
      class="flex items-center justify-center gap-3 px-6 py-4"
    >
      <Icon name="logos:google-maps" class="size-12" />
    </a>
    <a
      href="https://nshn.ir/32_bvZnM5x5OAH"
      class="flex items-center justify-center gap-3 px-6 py-4"
    >
      <Icon name="neshan" class="size-12" />
    </a>
  </div>
</ContentSection>
