---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection id="baran">
  <Fragment slot="lead">
    جمعه ۲۱ام اردیبهشت ماه از ساعت ۱۹
    <br />
    <br />
    تهران، اندرزگو، بلوار صبا، نبش خیابان کریمی، پلاک ۳، واحد ۳
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://maps.app.goo.gl/4r9Rj1sAEYnA4TU37"
      class="flex items-center justify-center gap-3 px-6 py-4"
    >
      <Icon name="logos:google-maps" class="size-12" />
    </a>
    <a
      href="https://nshn.ir/3f_bvvw15xu2SY"
      class="flex items-center justify-center gap-3 px-6 py-4"
    >
      <Icon name="neshan" class="size-12" />
    </a>
  </div>
  <iframe
    class="border-4 border-primary"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3236.213748866047!2d51.436706777150135!3d35.7946855237313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e05e6a35dec77%3A0xd1e7f7e3394e6cd0!2z2LPYp9mE2YYg2LnZgtivINmG2YLYsdmH!5e0!3m2!1sen!2sat!4v1714940350017!5m2!1sen!2sat"
    height="450"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</ContentSection>