---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection id="baran">
  <Fragment slot="lead">
    Hope to see you on Ordibehesht 21th st 7:00 p.m. at Noghreh wedding hall<br
    />
    <br />
    Unit 3, No 3, Karimi St, Saba Blv, Andarzgoo, Tehran, Iran
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://maps.app.goo.gl/4r9Rj1sAEYnA4TU37"
      class="flex items-center justify-center gap-3 px-6 py-4"
    >
      <Icon name="logos:google-maps" class="size-12" />
    </a>
    <a
      href="https://nshn.ir/3f_bvvw15xu2SY"
      class="flex items-center justify-center gap-3 px-6 py-4"
    >
      <Icon name="neshan" class="size-12" />
    </a>
  </div>
</ContentSection>
