---
import { Icon } from "astro-icon/components";

interface Props {
  music: string;
}

const { music } = Astro.props;
---

<div
  class="fixed bottom-0 left-0 flex w-1/12 items-center justify-center rounded bg-transparent opacity-50 lg:w-12"
>
  <audio id="main" autoplay loop>
    <source src=`/${music}` />
  </audio>
  <button id="pause" class="size-1/2 text-orange-400" disabled>
    <Icon class="size-full" name="mdi:pause" />
  </button>
  <button id="play" class="size-1/2 text-orange-400">
    <Icon class="size-full" name="mdi:play" />
  </button>
</div>

<script>
  const clip = document.getElementById("main") as HTMLAudioElement;
  const pauseBtn = document.getElementById("pause") as HTMLButtonElement;
  const playBtn = document.getElementById("play") as HTMLButtonElement;

  clip.addEventListener("playing", () => {
    pauseBtn.disabled = false;
    playBtn.disabled = true;
  });

  clip.addEventListener("pause", () => {
    pauseBtn.disabled = true;
    playBtn.disabled = false;
  });

  pauseBtn.onclick = () => {
    clip.pause();
  };

  playBtn.onclick = () => {
    clip.play();
  };
</script>
