---
import { Icon } from "astro-icon/components";
---

<div
  class="fixed bottom-0 left-0 flex h-1/6 w-3/12 items-center justify-center rounded bg-transparent opacity-50 lg:w-1/12"
>
  <button id="pause" class="size-1/4 text-orange-400">
    <Icon class="size-full" name="mdi:pause" />
  </button>
  <button id="play" class="size-1/4 text-orange-400">
    <Icon class="size-full" name="mdi:play" />
  </button>
  <p
    id="author"
    class="my-auto flex size-1/2 flex-col justify-around text-center"
    style="font-size: 10px;"
  >
  </p>
</div>

<script>
  const song = "<span>Maher Zain</span><span>For The Rest Of My Life</span>";

  const clip = new Audio("/For-the-Rest-of-My-Life.mp3");
  clip.load();
  clip.onload = () => clip.play();
  clip.loop = true;
  clip.autoplay = true;

  const authorEl = document.getElementById("author") as HTMLSpanElement;
  authorEl.innerHTML = song;

  const pauseBtn = document.getElementById("pause") as HTMLButtonElement;
  const playBtn = document.getElementById("play") as HTMLButtonElement;

  clip.addEventListener("playing", () => {
    pauseBtn.disabled = false;
    playBtn.disabled = true;
  });

  clip.addEventListener("pause", () => {
    pauseBtn.disabled = false;
    playBtn.disabled = true;
  });

  pauseBtn.onclick = () => {
    clip.pause();
  };

  playBtn.onclick = () => {
    clip.play();
  };
</script>
