---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";

import "@fontsource/dancing-script";
---

<section class="relative h-full bg-black">
  <div id="splash-bg-fallback" class="absolute inset-0 w-full opacity-20">
    <HeroImage />
  </div>
  <div class="relative h-full flex items-center justify-center">
    <h2 class="flex flex-col items-center self-auto">
      <Icon
        name="wpf:wedding-cake"
        class="size-24 md:size-32 text-primary pb-5"
      />
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
        style="font-family: 'Dancing Script'"
      >
        Elahe
        <br /> and,
        <br /> Parham
        <br />
        <astro-count-down>
          <span>Loading...</span>
        </astro-count-down>
      </div>
    </h2>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<script>
  class AstroCountDown extends HTMLElement {
    days: number;
    hours: number;
    minutes: number;
    seconds: number;

    constructor() {
      super();

      const weddingDate = new Date("Jun 16, 2024 00:00:00").getTime();

      this.days = -1;
      this.hours = 0;
      this.minutes = 0;
      this.seconds = 0;

      setInterval(() => {
        let now = new Date().getTime();

        let until = weddingDate - now;

        if (until > 0) {
          this.days = Math.floor(until / (1000 * 60 * 60 * 24));
          this.hours = Math.floor(
            (until % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
          );
          this.minutes = Math.floor((until % (1000 * 60 * 60)) / (1000 * 60));
          this.seconds = Math.floor((until % (1000 * 60)) / 1000);

          const counter = this.querySelector("span");
          if (counter != null) {
            counter.textContent = `${this.days}:${this.hours}:${this.minutes}:${this.seconds}`;
          }
        }
      }, 1000);
    }
  }
  customElements.define("astro-count-down", AstroCountDown);
</script>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
