---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";

export interface Props {
  since: string;
}

const { since } = Astro.props;
---

<section class="relative h-full">
  <div id="splash-bg-fallback" class="absolute inset-0 w-full">
    <HeroImage />
  </div>
  <div class="relative flex h-full items-center justify-center">
    <h2 class="flex flex-col items-center self-auto">
      <Icon name="wedding" class="size-24 pb-5 text-primary md:size-32" />
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
      >
        Elahe
        <br /> and,
        <br /> Parham
        <br />
        <astro-count-down data-since={since}>
          <span></span>
        </astro-count-down>
      </div>
    </h2>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<script>
  class AstroCountDown extends HTMLElement {
    days: number;
    hours: number;
    minutes: number;
    seconds: number;
    weddingDate: number;

    private since() {
      let now = new Date().getTime();

      let until = this.weddingDate - now;

      if (until > 0) {
        this.days = Math.floor(until / (1000 * 60 * 60 * 24));
        this.hours = Math.floor(
          (until % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60),
        );
        this.minutes = Math.floor((until % (1000 * 60 * 60)) / (1000 * 60));
        this.seconds = Math.floor((until % (1000 * 60)) / 1000);

        const counter = this.querySelector("span");
        if (counter != null) {
          counter.textContent = `${this.days.toString().padStart(2, "0")}:${this.hours.toString().padStart(2, "0")}:${this.minutes.toString().padStart(2, "0")}:${this.seconds.toString().padStart(2, "0")}`;
        }
      }
    }

    constructor() {
      super();

      const since = this.getAttribute("data-since");

      this.days = -1;
      this.hours = 0;
      this.minutes = 0;
      this.seconds = 0;
      this.weddingDate = 0;

      if (since != null) {
        this.weddingDate = new Date(since).getTime();

        this.since();
        setInterval(() => this.since(), 1000);
      }
    }
  }
  customElements.define("astro-count-down", AstroCountDown);
</script>
