---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection id="engaged">
  <Fragment slot="pre-content">
    <div class="letter-pocket text-3xl">
      <br />
      <p class="text-center">عشق بهانه آغاز بود، بهانه سبز باهم زیستن</p>
      <br />
    </div>
  </Fragment>
</ContentSection>
