---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection id="engaged">
  <Fragment slot="pre-content">
    <div class="letter-pocket text-3xl">
      <br />
      <p class="text-right">
        در آستانه‌ی روزی بینظیر در زندگیمان هستیم و از شما دعوت میکنیم تا در جشن
        عروسی‌مان که قصد داریم عشق را گرامی بداریم، به ما بپیوندید.
      </p>
      <br />
      <br />
      <p class="text-left">صمیمانه،</p>
      <p class="text-left">الهه و پرهام</p>
      <br />
    </div>
  </Fragment>
</ContentSection>

<style>
  * {
    line-height: 3.5rem;
  }
</style>
