---
import Splash from "~/components/splash.astro";
import "~/styles/persian.css";
import EngagedSection from "~/components/engaged.astro";
import Noghre from "~/components/noghre.astro";
import Player from "~/components/player.astro";
import Base from "~/layouts/Base.astro";
import { wedding } from "~/wedding.config";
---

<Base lang="fa" dir="rtl">
  <Splash since={wedding.dates.engaged} lang="fa" />
  <Player music={wedding.music.engaged} />
  <div class="columns-1 px-8 py-8">
    <EngagedSection />
    <Noghre />
  </div>
</Base>
