---
import Splash from "~/components/splash.astro";
import "~/styles/persian.css";
import Baran from "~/components/baran.astro";
import WeddingSection from "~/components/wedding.astro";
import Base from "~/layouts/Base.astro";
import { wedding } from "~/wedding.config";
---

<Base lang="fa" dir="rtl">
  <Splash since={wedding.dates.wedding} lang="fa" />
  <div class="columns-1 px-8 py-8">
    <WeddingSection />
    <Baran lang="fa" />
  </div>
</Base>
